* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f3f3f3;
}

/* ================= NAVBAR ================= */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: white;
    position: relative;
    z-index: 100;
}

/* logo */

.logo img {
    width: 40px;
}

/* menu */

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    font-weight: 600;
    color: #333;
    font-size: 16px;
}

.menu a:first-child {
    color: #ff9900;
}

/* button */

.nav-btn {
    background: #ff9900;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 0 #000;
}

/* hamburger */

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* ================= HERO ================= */

.hero-area {
    position: relative;
    padding: 120px 20px;
    text-align: center;
    overflow: hidden;

    background: linear-gradient(180deg,
            #ffffff 0%,
            #fff8ee 45%,
            #f6e2bb 100%);
}

/* hero logo */

.hero-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 14px;
}

.hero-logo img {
    width: 40px;
}

/* hero text */

.hero-content h1 {
    font-size: 56px;
    font-weight: 800;
    max-width: 900px;
    margin: auto;
    line-height: 1.2;
}

.hero-content span {
    color: #ff9900;
    display: block;
}

/* button */

.cta-btn {
    margin-top: 30px;
    background: #ff9900;
    color: white;
    border: none;
    padding: 16px 30px;
    font-size: 18px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 6px 0 #000;
}

/* ================= CARDS ================= */

/* income card */

.income-card {
    position: absolute;
    left: 8%;
    top: 50%;
    transform: translateY(-50%) rotate(-8deg);
    width: 200px;
}

.income-card img {
    width: 100%;
}

/* users card */

.users-card {
    position: absolute;
    right: 8%;
    top: 45%;
    transform: rotate(8deg);

    display: flex;
    align-items: center;
    gap: 12px;

    background: white;
    padding: 12px 18px;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* avatars */

.avatars {
    display: flex;
}

.avatars img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: -10px;
}

/* user text */

.user-info h4 {
    font-size: 16px;
    margin: 0;
}

.user-info p {
    font-size: 14px;
    margin: 0;
    color: #555;
}

/* =============== FOOTER ===================== */
.footer {
    background: #151515;
    color: #fff;
    padding: 60px 80px;
}

.copyWright-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.copyWright-links {
    display: flex;
    gap: 40px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 40px;
}

.footer-links h4 {
    margin-bottom: 20px;
}

.footer-links a {
    display: block;
    color: #a0aec0;
    text-decoration: none;
    margin-bottom: 10px;
    transition: var(--transition);
}

.footer-links a:hover {
    color: #fff;
}

.footer-bottom {
     display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #2d3748;
    color: #a0aec0;
    font-size: 0.9rem;
}

/* ================= TABLET ================= */

@media (max-width:992px) {

    .navbar {
        padding: 20px 40px;
    }

    .menu {
        gap: 20px;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .income-card,
    .users-card {
        display: none;
    }
     .footer {
        padding: 50px 40px;
    }

    .footer-grid {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .footer-info {
        grid-column: span 1;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .copyWright-links {
        justify-content: center;
    }

}

/* ================= MOBILE ================= */

@media (max-width:768px) {

    /* show hamburger */

    .hamburger {
        display: block;
    }

    /* mobile menu */

    .menu {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: white;

        flex-direction: column;
        align-items: center;
        gap: 20px;

        padding: 20px 0;

        display: none;

        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .menu.active {
        display: flex;
    }

    .navbar {
        padding: 20px;
    }

    .hero-content h1 {
        font-size: 30px;
    }

    .cta-btn {
        font-size: 16px;
        padding: 14px 24px;
    }

    .hero-logo {
        flex-direction: column;
    }
     .footer {
        padding: 40px 20px;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        gap: 25px;
        text-align: center;
    }

    .footer-info img {
        margin-bottom: 15px;
    }

    .footer-links a {
        margin-bottom: 8px;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .copyWright-links {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

}